{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Update Product</title>
    <link rel="stylesheet" href="{% static 'css/update_product.css' %}">
</head>
<body>
    <div class="container">
        <h2>Admin Update Product</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="_method" value="PUT">
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
